
<div class="col-md-6 col-md-offset-1" style="max-height: 420px">
  <div class="row">
	<table class="table table-hover table-bordered">
	  <thead>
		<tr>
		  <th>分类名</th>
		  <th>录入时间</th>
		  <th>查看</th>
		  <th>更新</th>
		  <th>删除</th>
		</tr>
	  </thead>
	  <tbody>
		<% categories.forEach(function (item, index) { %>
		  <tr class="item-id-<%= item._id %>">
			<td><%= item.name %></td>
			<td><%= moment(item.meta.createAt).format("YYYY/MM/DD") %></td>
			<td><a target="_blank" href="/movie/<%= item._id %>">查看</a></td>
			<td><a href="/admin/movie/update/<%= item._id %>">更新</a></td>
			<td>
			  <button class="btn btn-danger delCategory" type="button" data-id="<%= item._id %>" title="注意,分类下的所有电影都将被删除!">删除</button>
			</td>
		  </tr>
		<% }) %>
	  </tbody>
	</table>
  </div>
</div>
<script src="/js/category.js"></script>
<% /*
<script>
$(function() {
  $(".delCategory").click(function(e) {
	var target = $(e.target);
	var id = target.data("id");
	var tr = $(".item-id-"+id);
	$.ajax({
		type: 'DELETE',
		url: "/admin/movie/category/list?id=" +id,
		async: true,
		success: function(req) {
			//console.log(req);
			if (tr.length > 0) {
				tr.remove();
			}
		},
		error: function() {
			alert("出错");
		}
	})
  });
});
</script>
*/ %>

