<%- include ../includes/header %>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<embed src="<%= movie.flash %>" allowFullScreen="true" quality="high" width="720" height="500" align="middle" type="application/x-shockwave-flash">
			<div class="panel panel-defatul">
				<div class="panel-heading">
					<h3>评论区</h3>
				</div>
				<div class="panel-body">
					<ul class="media-list">
						<% comment.forEach(function(item, index){ %>
							<li calss="media">
								<div class="pull-left">
									<a class="comment" href="#comments" data-cid="<%=item._id%>" data-tid="<%=item.from._id%>">
										<img class="media-object"  src="http://personal.adquan.com/avatar/111721_full.jpg" style="width:60px; height:60px;"/>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><%= item.from.name %></h4>
									<p><%=item.content%></p>
									<br>

									<% if(item.reply && item.reply.length > 0){%>
										<% item.reply.forEach(function(reply, index){ %>
											<div calss="media">
												<div class="pull-left">
													<a class="comment" href="#comments" data-cid="<%=item._id%>" data-tid="<%=reply.from._id%>">
														<img class="media-object"  src="http://personal.adquan.com/avatar/111721_full.jpg" style="width:60px; height:60px;"/>
													</a>
												</div>
												<div class="media-body">
													<h4 class="media-heading">
														<%= reply.from.name %>
														<span class="text-info">回复</span>
														<%= reply.to.name %>
													</h4>
													<p><%=reply.content%></p>
													<br>
												</div>
											</div>
										<% }) %>
									<% } %>	

								</div>
								<hr>
							</li>

						<% }) %>
						
					</ul>
					<div id="comments">
						<form id="commentForm" method="POST" action="/user/comment">
							<input type="hidden" name="comment[movie]" value="<%= movie._id %>"/>
							<% if(user){%>
								<input type="hidden" name="comment[from]" value="<%= user._id %>"/>
							<% } %>
							<div class="form-group">
								<textarea class="form-control" row="3" name="comment[content]"></textarea>
							</div>
							<% if(user){%>
								<button class="btn btn-primary" type="submit">提交</button>
							<% }else{ %>
								<a href="#" class="navbar-link" data-toggle="modal" data-target="#signinModal">登录后评论</a>
							<% } %>
						</form>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-5">
			<dl class="dl-horizontal">
				<dt>电影名字</dt>
				<dd><%= movie.title %></dd>
				<dt>导演</dt>
				<dd><%= movie.doctor %></dd>	
				<dt>国家</dt>
				<dd><%= movie.country %></dd>	
				<dt>语言</dt>
				<dd><%= movie.language %></dd>	
				<dt>上映年份</dt>
				<dd><%= movie.year %></dd>	
				<dt>pv</dt>
				<dd><%= movie.pv %></dd>
				<dt>简介</dt>
				<dd><%= movie.summary %></dd>
						
			</dl>
		</div>
	</div>
</div>
<script src="/js/detail.js"></script>
<%- include ../includes/footer %>
