<%- include ../includes/header %>
<div class="container container-style">
	<div class="col-md-11 col-md-offset-1" style="max-height: 800px; padding-top: 50px">
	  <div class="row">
	  	<div class="panel panel-default">
	  		<div class="panel-heading">
		  	  <ul class="nav nav-tabs" role="tablist">
		  	  	<% if (ranking == 'pvRanking') { %>
		  				<li role="presentation" class="active"><a href="/movie-pv/ranking">点击量排行</a></li>
		  			<% } else { %>
		  				<li role="presentation"><a href="/movie-pv/ranking">点击量排行</a></li>
		  			<% } %>
		  	  	<% if (ranking == 'movieTimeRanking') { %>
			  			<li role="presentation" class="active"><a href="/movie-time/ranking">片长排行</a></li>
		  			<% } else { %>
			  			<li role="presentation"><a href="/movie-time/ranking">片长排行</a></li>
		  			<% } %>
		  	  	<% if (ranking == 'dateRanking') { %>
		  				<li role="presentation" class="active"><a href="/movie-date/ranking">上映日期排行</a></li>
		  			<% } else { %>
		  				<li role="presentation"><a href="/movie-date/ranking">上映日期排行</a></li>
		  			<% } %>
			  	</ul>
	  		</div>
	  		<div class="panel-body">
					<table class="table table-hover table-bordered">
					  <thead>
						<tr class="tr-style">
						  <th class="th-width250 th-style">电影名字</th>
						  <th class="th-width250 th-style">导演</th>
						  <th class="th-width250 th-style">主演</th>
						  <th class="th-width250 th-style">制片国家/地区</th>
						  <th class="th-width200 th-style">上映日期</th>
						  <th class="th-width200 th-style">录入时间</th>
						  <th class="th-width200 th-style">片长(分钟)</th>
						  <th class="th-width150 th-style">pv</th>
						  <th class="th-width150 th-style">查看</th>
						</tr>
					  </thead>
					  <tbody>
						<% movies.forEach(function (item, index) { %>
						<tr class="item-id-<%= item._id %>">
						  <td class="td-style"><%= item.title %></td>
						  <td class="td-style"><%= item.doctor %></td>
						  <td class="td-style"><%= item.protagonist %></td>
						  <td class="td-style"><%= item.country %></td>
						  <td class="td-style"><%= item.date %></td>
						  <td class="td-style"><%= moment(item.meta.createAt).format("YYYY/MM/DD") %></td>
						  <td class="td-style"><%= item.movieTime %></td>
						  <td class="td-style"><%= item.pv %></td>
						  <td class="td-style"><a target="_blank" href="/movie/<%= item._id %>">查看</a></td>
						</tr>
						<% }) %>
					  </tbody>
					</table>
				</div>
			</div>
	  </div>
	</div>
</div>

<script src="/js/admin.js"></script>
<%- include ../includes/footer %>