<%- include ../includes/header %>
<div class="container container-style">
<div class="col-md-11 col-md-offset-1" style="max-height: 800px; padding-top: 50px">
  <div class="row">
  	<div>
  	  <ul class="nav nav-tabs" role="tablist">
  		<li role="presentation" class="active"><a href="/movie-pv/ranking">点击量排行</a></li>
  		<li role="presentation"><a href="#">片长</a></li>
  		<li role="presentation"><a href="#">上映时间</a></li>
	  </ul>
  	</div>
	<table class="table table-hover table-bordered">
	  <thead>
		<tr class="tr-style">
		  <th class="th-width250">电影名字</th>
		  <th class="th-width250">导演</th>
		  <th class="th-width250">主演</th>
		  <th class="th-width150">片长</th>
		  <th class="th-width200">国家</th>
		  <th class="th-width200">上映时间</th>
		  <th class="th-width200">录入时间</th>
		  <th class="th-width150">pv</th>
		  <th class="th-width100">查看</th>
		</tr>
	  </thead>
	  <tbody>
		<% movies.forEach(function (item, index) { %>
		<tr class="item-id-<%= item._id %>">
		  <td><%= item.title %></td>
		  <td><%= item.doctor %></td>
		  <td><%= item.protagonist %></td>
		  <td><%= item.movieTime %></td>
		  <td><%= item.country %></td>
		  <td><%= item.year %></td>
		  <td><%= moment(item.meta.createAt).format("YYYY/MM/DD") %></td>
		  <td><%= item.pv %></td>
		  <td><a target="_blank" href="/movie/<%= item._id %>">查看</a></td>
		</tr>
		<% }) %>
	  </tbody>
	</table>
  </div>
</div>
</div>

<script src="/js/admin.js"></script>
<%- include ../includes/footer %>