<%- include ../includes/header %>
<div class="container container-style">
  <div class="row">
	<div class="col-md-7">
	  <embed src="<%= movie.flash %>" allowFullScreen="true" quality="high" width="720" height="500" align="middle" type="application/x-shockwave-flash">
	  <div class="panel panel-defatul">
		<div class="panel-heading">
		  <h3>评论区</h3>
		</div>
		<div class="panel-body">
		  <ul class="media-list">
			<% comment.forEach(function(item, index){ %>
			  <li calss="media">
				<div class="pull-left">
				  <a class="comment" href="#comments" data-cid="<%=item._id%>" data-tid="<%=item.from._id%>">
				  	<% if (item.from.avatar.indexOf('default') > -1) { %>
					  <img style="width:60px; height:60px;" src="<%= item.from.avatar %>" alt="头像君不见啦!" title="点击头像即可回复我!">
				  	<% } else { %>
					  <img style="width:60px; height:60px;" src="/images/avatar/<%= item.from.avatar %>" alt="头像君不见啦!" title="点击头像即可回复我!">
				  	<% } %>
				  </a>
				</div>
				<div class="media-body" style="padding-left: 10px">
				  <h4 class="media-heading"><%= item.from.name %></h4>
				  <p><%=item.content%></p>
				  <br>
				  <% if(item.reply && item.reply.length > 0){%>
					<% item.reply.forEach(function(reply, index){ %>
					  <div calss="media">
						<div class="pull-left">
						  <a class="comment" href="#comments" data-cid="<%=item._id%>" data-tid="<%=reply.from._id%>">
							<% if (reply.from.avatar.indexOf('default') > -1) { %>
					  		  <img style="width:60px; height:60px;" src="<%= reply.from.avatar %>" alt="头像君不见啦!" title="点击头像即可回复我!">
				  			<% } else { %>
					  		  <img style="width:60px; height:60px;" src="/images/avatar/<%= reply.from.avatar %>" alt="头像君不见啦!" title="点击头像即可回复我!">
				  			<% } %>
						  </a>
						</div>
						<div class="media-body" style="padding-left: 10px">
						  <h4 class="media-heading">
							<%= reply.from.name %>
							  <span class="text-info">回复</span>
							<%= reply.to.name %>
						  </h4>
						  <p><%=reply.content%></p>
						  <br>
						</div>
					  </div>
					<% }) %>
				  <% } %>	
				</div>
				<hr>
			  </li>
			<% }) %>					
		  </ul>
		  <div id="comments">
			<form id="commentForm" method="POST" action="/user/comment">
			  <input type="hidden" id="movieId" name="comment[movie]" value="<%= movie._id %>">
			  <% if (user) {%>
				<input type="hidden" id="userId" name="comment[from]" value="<%= user._id %>">
			  <% } %>
			  <div class="form-group">
				<textarea class="form-control" row="3" name="comment[content]"></textarea>
			  </div>
			  <% if (user) {%>
				<button class="btn btn-primary" type="submit">提交</button>
			  <% } else { %>
				<a href="#" class="navbar-link" data-toggle="modal" data-target="#signinModal">登录后评论</a>
			  <% } %>
			</form>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-md-5">
	  <dl class="dl-horizontal">
			<dt>电影名字</dt>
			<dd><%= movie.title %></dd>
			<dt>导演</dt>
			<dd><%= movie.doctor %></dd>	
			<dt>主演</dt>
			<dd><%= movie.protagonist %></dd>
			<dt>制片国家/地区</dt>
			<dd><%= movie.country %></dd>	
			<dt>语言</dt>
			<dd><%= movie.language %></dd>	
			<dt>上映日期</dt>
			<dd><%= movie.date %></dd>	
			<dt>片长</dt>
			<dd><%= movie.movieTime %></dd>	
			<dt>pv</dt>
			<dd><%= movie.pv %></dd>
			<dt>电影平均得分</dt>
			<dd><%= movie.score.average %></dd>
			<dt>简介</dt>
			<dd><%= movie.summary %></dd>
			<br>
			<dt>评分</dt>
			<dd>
				<% if (movie.score.flag) { %>
					<input type="text" id="movieGrade" class="form-control" placeholder= "对同一部电影只能评分一次，请慎重。" value="" readOnly>
				<% } else { %>
					<input type="text" id="movieGrade" class="form-control" placeholder= "对同一部电影只能评分一次，请慎重。">
					<button type="button" id="submitMovieGrade" class="pull-right btn btn-primary">提交</button></dd>
				<% } %>
				<br>
			<div id="tips" style="display: none">
				<div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				  <strong>Warning!</strong> 评分不能低于 3 分 和 高于 10 分. 
				</div>
			</div>
	  </dl>
	</div>
  </div>
</div>
<script src="/js/movie-detail.js"></script>
<%- include ../includes/footer %>
