<%- include ../includes/header %>
<div class = "container container-style">
  <div class="col-md-9 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>更改资料</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" id="updateInfoForm" action="/update/user/personal/info", method="post", enctype="multipart/form-data">
          <% if(user._id){%>
          <input type="hidden" name="user[_id]" value="<%= user._id %>">
          <% }%>
          <div class="text-center nav_user">
            <% if (user) { %>
            <div id="userAvatar">
              <a href="#">
                <% if (user.avatar.indexOf('default') > -1) { %>
                <img class="img-circle" src="<%= user.avatar %>" alt="头像君不见啦!">
                <% } else { %>
                <img class="img-circle" src="/images/avatar/<%= user.avatar %>" alt="头像君不见啦!">
                <% } %>
              </a>
            </div>
            <p ><%= user.nickname %></p>
            <span class="useremail"><%= user.email %></span>
            <% } %>
          </div>
          <br>
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-5 file">
              <input type="file" name="avatar" id="upload_user_icon">选择图片
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-7">
              <input type="text" id="signupName" class="form-control" name="user[name]" value="<%= user.name %>" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label for="nickname" class="col-sm-3 control-label">昵称</label>
            <div class="col-sm-7">
              <input type="text" id="nickname" class="form-control" name="user[nickname]" value="<%= user.nickname %>" placeholder="只能由数字下划线或字母组成">
            </div>
          </div>
          <div class="form-group">
            <label for="txtEmail" class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-7">
              <input type="text" id="txtEmail" class="form-control" name="user[email]" value="<%= user.email %>" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">性别</label>
            <div class="col-sm-7">
              <% if (user.sex == 0) { %>
              <p class="form-control-static">女</p>
              <% } else { %>
              <p class="form-control-static">男</p>
              <% } %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">电话号码</label>
            <div class="col-sm-7">
              <input type="text" id="phoneNumber" class="form-control" name="user[tel]" value="<%= user.tel %>">
            </div>
          </div>
          <div class="form-group">
            <label for="bornDate" class="col-sm-3 control-label">出生日期</label>
            <div class="col-sm-7">
              <div class="input-group" id='datetimepicker'>
                <input type="text" id="bornDate" class="form-control" name="user[born]" value="<%= user.born %>">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>  
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="originPassword" class="col-sm-3 control-label">原密码</label>
            <div class="col-sm-7">
              <input type="password" id="originPassword" class="form-control" name="user[originPassword]" placeholder="输入密码才能更改个人资料!">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
              <button class="btn btn-default" type="reset">重置</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-success" type="submit">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/update-info.js"></script>
<%- include ../includes/footer %>